services:
  postgres:
    image: pgvector/pgvector:pg16-trixie
    container_name: pg16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db_ecommerce
    ports:
      - "5450:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: >
      sh -c "
        ollama serve &
        sleep 3 &&
        ollama pull all-minilm:l6-v2 &&
        wait
      "

volumes:
  ollama_data:
